<!--
  Generated template for the BrowsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Browse</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #ececec;">
  <!-- <button ion-button block (click)="addItem()">add item</button> -->
  <ion-grid>
    <ion-row>
      <ion-col col-6>New Brands</ion-col>
      <ion-col col-6 align="right" class="redColor" (click)="allBrand()">See All</ion-col>
    </ion-row>
  </ion-grid>

  <ion-scroll scrollX="true" style="width: 100%; height: 180px">
    <div class="inner">
      <div *ngFor="let brand of brandData | async">
        <img src="{{brand.photoProfileURL}}" (click)="shopDetail(brand)">
        <p align="center">{{brand.name}}</p>
      </div>
    </div>
  </ion-scroll>

  <ion-grid class="nextHeader">
    <ion-row>
      <ion-col col-6>Review & Article</ion-col>
      <ion-col col-6 align="right" class="redColor" (click)="allReview()">See All</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-6 *ngFor="let review of reviews | async">
        <ion-card>
            <img src="{{review.photoHeader}}" (click)="reviewDetail(review)">
            <p class="ellipsis">{{review.title}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="nextHeader">
    <ion-row>
      <ion-col col-6>Style</ion-col>
      <ion-col col-6 align="right" class="redColor" (click)="allStyle()">See All</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 no-margin>

            <p align="center">Style is empty.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="nextHeader">
    <ion-row>
      <ion-col col-6>Shops</ion-col>
      <ion-col col-6 align="right" class="redColor">See All</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 no-margin>

            <p align="center">Your list is empty.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
