<!--
  Generated template for the MarketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Market</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="cart" (click)="logout()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- region mockup -->
  <button ion-button block (click)="addMarket()">add market</button>
  <ion-list inset>
    <ion-item *ngFor="let market of marketData | async">
      {{market.name}}
    </ion-item>
  </ion-list>
  <!-- end region -->
  <div>
    <ion-slides class="image-slider" autoplay="4000" loop="true" pager>
      <ion-slide *ngFor="let img of images">
        <img src="{{img}}" class="thumb-img">
      </ion-slide>
    </ion-slides>
  </div>
  <ion-scroll scrollX="true">
    <div class="inner">
      <div class="women">
        <p align="center">Women</p>
      </div>
      <div class="men">
        <p align="center">Men</p>
      </div>
      <div class="lifestyle">
        <p align="center">Liftstyle</p>
      </div>
    </div>
  </ion-scroll>

  <div>
    <ion-segment [(ngModel)]="marketType">
      <ion-segment-button value="recent">
        Recent
      </ion-segment-button>
      <ion-segment-button value="editor">
        Editor's Pick
      </ion-segment-button>
      <ion-segment-button value="popular">
        Popular
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="marketType">
    <ion-list *ngSwitchCase="'recent'">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="125-125.png">
              <p class="ellipsis">sdfasdfasdfasdfsdafsdfddddddddddd</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'editor'">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/22549561_1444168808966415_2395915348159413637_n.jpg?oh=72030071611fd3b12ede3a38b58eba47&oe=5ABF7374"
                (click)="marketDetail()">
              <p class="ellipsis">qwerrtyrtiyouiopoiupoiqweropiwr</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/22527999_1444168925633070_6030921674469735225_n.jpg?oh=0a7cd7ee3893f748532bcbd75a36a9dc&oe=5ABE46E9">
              <p class="ellipsis">sdfasdfasdfasdfsdafsdf</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="125-125.png">
              <p class="ellipsis">sdfasdfasdfasdfsdafsdf</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="125-125.png">
              <p class="ellipsis">sdfasdfasdfasdfsdafsdf</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'popular'">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="125-125.png">
              <p class="ellipsis">sdfasdfasdfasdfsdafsdf</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-card>
              <img src="125-125.png">
              <p class="ellipsis">sdfasdfasdfasdfsdafsdf</p>
              <b>500 THB</b>
              <div *ngIf="!saveStatus" (click)="save()">
                <button ion-button color="light">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Save</button>
              </div>
              <div *ngIf="saveStatus" (click)="save()">
                <button ion-button color="light" style="background-color: red;color:white;">
                  <ion-icon name="heart-outline"></ion-icon> &nbsp;Saved</button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

  <!--<ion-list>
    <button ion-item *ngFor="let item of marketData">
      {{ item }}
    </button>
  </ion-list>-->

</ion-content>
