<!--
  Generated template for the ShopDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hide-tabs>
    <ion-title>{{shopDetail.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #ececec;">

  <!-- <div style="height: 100px; background-image: url({{shopDetail.photoCoverURL}});" (click)="showPhotoViewer(shopDetail.photoProfileURL)"> -->
  <div>
    <img src="{{shopDetail.photoCoverURL}}" (click)="showPhotoViewer(shopDetail.photoCoverURL)" style="height: 150px;width: 100%;">
  </div>
  <div align="center" style="margin-top: -5px;background-color:white;">
    <img src="{{shopDetail.photoProfileURL}}" class="picture" align="center" (click)="showPhotoViewer(shopDetail.photoProfileURL)"/>
    <button ion-button color="red" id="btnFollow" *ngIf="buttonCheck===false"  (click)="follow()">Follow</button>
    <button ion-button color="black" id="btnFollow" *ngIf="buttonCheck===true"  (click)="unfollow()">unFollow</button>
    <div>
      <span>{{shopDetail.name}} &nbsp;<ion-icon name="mail"></ion-icon></span>
    </div>
    <div>
      <span><b>{{shopDetail.follow}}</b> &nbsp;Followers</span>
    </div>
    <ion-grid padding align="left">
      <ion-row>
        <ion-col col-12><p>{{shopDetail.description}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <div>
    <ion-segment [(ngModel)]="tabShopDetail">
      <ion-segment-button value="sellingList">
        SELLING LIST
      </ion-segment-button>
      <ion-segment-button value="shopInfo">
        SHOP INFO
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabShopDetail">
    <ion-list *ngSwitchCase="'sellingList'">
      <ion-item>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6 no-padding *ngFor="let item of items | async">
              <ion-card>
                <img src="{{item.photos[0]}}">
                <p class="ellipsis">{{item.name}}</p>
                <b>{{item.amount}} THB</b>
                <div *ngIf="!saveStatus" (click)="save()">
                  <button ion-button color="light"><ion-icon name="heart-outline" ></ion-icon> &nbsp;Save</button>
                </div>
                <div *ngIf="saveStatus" (click)="save()">
                  <button ion-button color="light" style="background-color: red;color:white;"><ion-icon name="heart-outline" ></ion-icon> &nbsp;Saved</button>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'shopInfo'">
      <ion-item no-padding>
        <button ion-item>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-6 align="left">
                  <p>Shop Owner</p>
                  <p>dummy name</p>
                </ion-col>
                <ion-col col-6 align="right">
                  <img src="https://pixy.org/src/476/4764586.png" style="width: 30px; height: 30px; margin-right: 10px;" align="right">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </button> 
      </ion-item>
    </ion-list>
  </div>


</ion-content>
